// These styles are dedicated for the static website documents:

body {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  overflow: auto;
}
footer {
  flex: none;
  background-color: #31506a;
  color: #9eb8cc;
}
footer .footer-supported-by-img {
  max-width: 220px
}

.vdl-markdown-content p, .vdl-markdown-content ul, .vdl-markdown-content ol {
  font-size: 1.15em;
  max-width: 680px;
}

img.vdl-pic {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}