---
import Website from "../../layouts/Website.astro";
import { getTranslationsHelpers, LANGUAGE_CODES } from "../../core/translation";

export const getStaticPaths = () => {
  return LANGUAGE_CODES.map((lang) => ({ params: { lang } }));
};

const { lang } = Astro.params;

const { t } = getTranslationsHelpers(lang);
---

<Website lang={lang}>
  <main class="container">
    <section class="row py-5 my-5">
      <h1 class="text-center">
        <img src="/img/vandolie-logo.svg" alt="Logo" width="30" height="24" />
        {t("site-name")}
      </h1>
      <h2 class="text-center fs-4">{t("site-description")}</h2>
    </section>

    <section class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consetetur enim, no eros iure ullamco est dignissim
        officia sed aliquyam eirmod ullamcorper sit lorem veniam proident nonumy qui est facer nonummy eos feugait justo
        cum gubergren lobortis iriure. Autem suscipit lorem eos sadipscing sadipscing assum takimata aliqua justo
        sadipscing delenit lobortis veniam sunt fugiat. Accumsan laoreet nisl illum eum assum imperdiet invidunt culpa
        quis aliqua consequat aliquam tempor stet excepteur stet sea volutpat laborum officia elit amet doming molestie.
        Eros dignissim dolore ad. Illum reprehenderit magna sit. Commodo accumsan nobis lorem. Justo adipiscing euismod.
        Qui congue pariatur obcaecat cupiditat. Est justo iriure.
      </p>

      <p>
        Velit duo, feugait mazim exercitation assum obcaecat eiusmod nisi diam dolore volutpat quis enim consetetur
        suscipit. Dolor gubergren consequat eros clita aliquip. Proident aliquid rebum nonummy quod, aliqua veniam
        invidunt reprehenderit aliquid excepteur proident facer incidunt consectetuer accusam. Deserunt adipisici
        commodi. Amet lorem sanctus sea volutpat assum laoreet aute. Sint odio volutpat consectetuer veniam laoreet sea
        accumsan. Molestie tempor lobortis. Exerci vero sit eiusmod accusam aliquyam. Nulla praesent aliquip.
      </p>
    </section>
  </main>
</Website>
